@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes hideCursor {
    to {
        border-color: transparent;
    }
}

.typewriter {
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    max-width: fit-content;
    animation: typewriter 3s steps(30, end) forwards;
}


.carousel-item img {
    object-fit: cover;
    height: 400px;
}